# Server Configuration
PORT=
NODE_ENV=

# MongoDB Configuration
MONGODB_URI=

# For production (MongoDB Atlas or other cloud provider)
# MONGODB_URI=

# Security
JWT_SECRET=
API_KEY=

CMC_API_KEY=

# Worldcoin Configuration
WORLDCOIN_API_KEY=

# Rate Limiting
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX_REQUESTS=

# Logging
LOG_LEVEL=

# CORS
ALLOWED_ORIGINS=